.wrapper {
    width: 940px;
    margin: 0 auto;
    height: 100%;
}

.flex-column-grid {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-start;
    justify-content: flex-start;
}

.meta-text {
    color: #A0A6AD;
    font-size: 10px;
    font-family: $normal-font;
}

.meta-text-footer {
    color: #666;
    font-size: 10px;
    font-family: $normal-font;
}

.border-blue {
    border-left: 10px solid $dark-blue;
}

.border-green {
    border-left: 10px solid $green;
}

.border-red {
    border-left: 10px solid $red;
}

.border-yellow {
    border-left: 10px solid $yellow;
}

.border-brown {
    border-left: 10px solid $brown;
}

.heading {
    font-family: $bold-font;
    font-size: 24px;
    font-weight: 700;
    color: $primary-black;
    padding: 0;
    margin: 0;
}