@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Varela+Round&display=swap');

$bold-font: Bitter, serif;
$normal-font: Varela Round, sans-serif;
$heading-size: 24px;

$background-black: #252525;

/*Text colors*/
$background-color: #EEEEEE;
$primary-white: #f1d3b3;
$secondary-white: #fff;
$primary-black: #363F48;
$secondary-black: #ACB3BA;
$accent-black: #666;

/*Purple higlight color*/
$purple-active: #4D4382;

/*Active category color*/
$nav-active-color: #299EC3;

/*Category colors*/
$yellow: #FCC44D;
$dark-blue: #3677B5;
$light-blue: #5DCFF3;
$green: #84C14F;
$red: #EE6151;
$brown: #A99765;

$category-colors: #3677B5, #EE6151, #84C14F,  #5DCFF3, #FCC44D, #A99765;