@import "./styles/utils/all";
@import "./styles/components/all";
@import 'bootstrap/scss/bootstrap';
@import "./styles/pages/all";

:root {
  font-family: Varela Round, Bitter;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #EEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

