.comments-wrapper {
    padding: 15px 30px 30px 30px;
    background-color: white;

    .comments {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 45px;

        .comment {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 20px;

            .comment-user-name {
                color: $purple-active;
                font-size: 18px;
                font-family: $bold-font;
                font-weight: 400;
            }

            .comment-date {
                font-size: 12px;
                font-family: $normal-font;
                color: #666;
                font-weight: 400;
            }

            .reply-button {
                outline: none;
                border: none;
                background-color: transparent;
                color: $purple-active;
                font-size: 14px;
                font-family: $normal-font;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    p {
        color: #444;
        font-size: 13px;
        font-family: $normal-font;
        font-weight: 400;
        line-height: 20px;
    }

    .comment-form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 8px;

        input, textarea {
            background-color: #DDD;
            width: 55%;
            padding: 11px 0 15px 18px;
            border: none;
            outline: none;
            color: $accent-black;
            font-size: 14px;
            font-family: $normal-font;
        }

        textarea {
            width: 100%;
        }
    }

    .hide-comment-form {
        display: none;
    }

    .post-comment-btn {
        background-color: $purple-active;
        color: white;
        border: none;
        outline: none;
        padding: 15px 40px 25px 35px;
        font-size: 14px;
        font-family: $normal-font;
        font-weight: 400;
        padding: 10px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        width: 150px;
        font-size: 14px;
        font-family: $normal-font;

        &:hover {
            opacity: 0.8;
        }
    }
}